---
import Layout from '../layouts/Layout.astro';
import BentoContainer from '../components/BentoContainer.astro';
import ImageLinkCard from '../components/ImageLinkCard.astro';
import cardsJson from '../data/cards.json';
import type { ImageLinkCardData } from '../data/schema';

const cards = [...(cardsJson as ImageLinkCardData[])].sort((a, b) => a.order - b.order);
---

<Layout>
  <div class="guild-section-divider">工作室傳訊</div>
  <BentoContainer>
    {cards.map((card) => (
      <ImageLinkCard id={card.id} {...card.content} size={card.size} />
    ))}
  </BentoContainer>
</Layout>
